.profile-image-lg {
  height: 2rem;
  width: 2rem;
  border-radius: 1rem;
}

.profile-image-sm {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 1rem;
}

.clickable {
  cursor: pointer;
}

.list-header-text {
  overflow: hidden;
  line-height: 4.5rem;
}

.discreet-input {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0 0 0.5rem;
  box-sizing: border-box;
  width: 100%;
}

.list-sort-disabled {
  opacity: 0.3;
}

.list-details-toggle {
  transition: transform 0.4s ease-out;
  min-width: 27pt;
}

.button-transparent {
  background: none;
  border: none;
  outline: 0;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.rotate-180 {
  transform: rotate(180deg);
}

.Collapsible__trigger {
  display: none;
}

.snap-scrollable-container-horizontal {
  scroll-snap-type: x mandatory;
  display: flex;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  flex-direction: row;
}

.snap-scrollable-item {
  min-width: 100vw;
  scroll-snap-align: start;
}
